* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  border-radius: 16px;
  color: #393939;
}
::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  overflow: -webkit-scrollbar;
}
body {
  background-color: #e6e6fa;
}
img {
  max-width: 100%;
  border-radius: 16px;
  background-position: left top;
  background-repeat: repeat;
  padding: 10px;
}
.container {
  width: 50%;
  flex-shrink: 0;
  margin: 0 auto;
  font-style: normal;
  padding: 20px;
  padding-bottom: 100px;
}
.container-media {
  display: flex;
  flex-wrap: wrap;
  font-size: smaller;
  width: 100%;
  padding: 20px;
}
.container-media img {
  width: 413px;
}
p {
  font-size: larger;
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 30px;
}

.project-image {
  transition: all 0.5s ease-in-out;
}
.project-image:hover {
  opacity: 0.5;
}

.header-title {
  font-size: 100px;
  margin: 5px 0 200px 0;
  padding: 30px;
  font-weight: 200;
}

.container-title {
  margin: 0 0;
  padding: 30px;
  font-size: 28px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

.projects-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 20px;
}
.header-title-projects {
  font-size: 100px;
  font-weight: 200;
  margin: auto;
  max-width: 1300px;
}
.title-projects {
  font-size: 60px;
  margin: 5px 0 0 0;
  padding: 30px;
  font-weight: 100;
}
.fotoprojekt {
  font-size: 100px;
  margin: 5px 0 50px 0;
  padding: 30px;
  font-weight: 200;
}
.projects-text {
  font-size: 30px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  max-width: 850px;
  margin: auto;
  line-height: 130%;
}
.projects-text img {
  width: 1000px;
}
.projects-text div {
  margin-bottom: 30px;
}
.projects-heading {
  font-size: 36px;
  max-width: 850px;
  color: #393939c8;
  font-weight: 100;
  margin: auto;
}
.projects-title {
  font-size: 80px;
  font-weight: 100;
  max-width: 850px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
.project-img {
  max-width: 1300px;
  margin: auto;
}
footer {
  padding: 30px;
  display: flex;
  border-top: 1px solid;
  border-radius: 0;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .projects-container {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
    padding-bottom: 0px;
  }
  .header-title {
    font-size: 50px;
    margin: 5px 0 200px 0;
  }
  .container-media img {
    width: 167px;
    justify-content: space-around;
  }
  .header-title-projects {
    font-size: 50px;
    margin: 5px 0 0px 0;
    padding: 20px;
  }
  .navbar {
    padding: 20px;
  }
  .fotoprojekt {
    font-size: 50px;
    margin: 5px 0 0px 0;
    padding-bottom: 0;
  }
  .projects-text {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 20px;
    line-height: normal;
  }
  .projects-heading {
    font-size: 18px;
    padding: 20px;
  }
  .projects-title {
    font-size: 50px;
    margin: 5px 0 0px 0;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
  .projects-text img {
    max-width: 100%;
  }
}
